$main-color: #afafaf;
$primary-color: #636363;
$other-color: #8fcddc;

@mixin flexAlign($hor: center, $ver: center) {
    display: flex;
    justify-content: $hor;
    align-items: $ver;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    width: 100%;
    height: 58px;
    @include flexAlign(space-between);
    padding: 0 130px 0 135px;
    box-sizing: border-box;
    background: rgba($color: white, $alpha: .3);
    position: absolute;

    @media screen and (min-width: 1280px) {
        padding: 0 calc(50% - 1020px / 2);
    }

    @media screen  and (max-width: 992px) {
        padding: 0 15px;
        flex-direction: row-reverse;
    }

    .button {
        cursor: pointer;
        width: 59px;
        height: 57px;
        background: rgba($color: white, $alpha: .3);
        @include flexAlign();
    
            &__line {
                width: 37px;
                height: 6px;
                background: white;
                position: relative;

                &::after {
                    content: "";
                    width: 37px;
                    height: 6px;
                    background: white;
                    position: absolute;
                    left: 0;
                    top: 11px;
                }

                &::before {
                    content: "";
                    width: 37px;
                    height: 6px;
                    background: white;
                    position: absolute;
                    left: 0;
                    bottom: 11px;
                }
            }
    }
}

.banner {
    width: 100%;
    height: 482px;
    background: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    @include flexAlign(space-between, flex-end);
    padding: 0 20px 145px 30px;
    box-sizing: border-box;

    @media screen and (min-width: 1280px) {
        padding: 0 calc(50% - 1235px / 2) 145px;
    }

    @media screen and (max-width: 480px) {
        @include flexAlign(flex-end, center);
        flex-direction: column;
        padding: 0 5px 40px;
    }




    .arow {
        cursor: pointer;
        width: 30px;
        height: 65px;

        &:hover {
            transform: scale(1.3);
        }

        &_right {
            transform: rotate(180deg);

            &:hover {
                transform: rotate(180deg) scale(1.3);
            }
        }

        &_collapse {
            @media screen and (max-width: 480px) {
                display: none;
            }
        }

        &__line {
            width: 42px;
            height: 1px;
            background-color: white;
        }

        &__line_top {
            transform: rotate(-45deg) translateY(8px) translateX(-16px);
        }
    
        &__line_bottom {
            transform: rotate(45deg) translateY(36px) translateX(28px);
        }
    }

	&__content {
        width: 975px;
        @include flexAlign($ver: flex-start);
        flex-direction: column;
        color: white;
        font-size: 27px;

        @media screen and (max-width: 1200px) {
            width: 975px*100%/1280px;
        }

        @media screen and (max-width: 480px) {
            margin-bottom: 15px;
            width: 100%;
            padding: 0 15px;
            box-sizing: border-box;
        }

        &-title {
            width: 390px;
            padding: 0 2px;
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 30px;

            @media screen and (max-width: 560px) {
                width: 100%;
            }

            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }

        .search {
            cursor: text;
            width: 390px;
            height: 45px;
            background: white;
            @include flexAlign(space-between);
            position: relative;
            padding: 0 15px;
            box-sizing: border-box;

            @media screen and (max-width: 560px) {
                width: 100%;
            }

            @media screen and (max-width: 480px) {
                width: 100%;
            }

                &__text {
                    font-size: 21px;
                    color: #b5b5b5;
                }
        
                &__icon {
                    background: url('../images/search.png');
                    background-repeat: no-repeat;
                    width: 27px;
                    height: 27px;
                    position: relative;
                }
        
                &__input {
                    width: 375px;
                    height: 43px;
                    opacity: 0;
                    position: absolute;
                    outline: none;
                    border: none;
                    overflow: hidden;
                    font-size: 21px;
                    padding-right: 55px;
                    box-sizing: border-box;
                    z-index: 1;

                    @media screen and (max-width: 560px) {
                        width: 94%;
                    }

                    @media screen and (max-width: 480px) {
                        width: 94%;
                    }

                    &:focus {
                       opacity: 1;
                    } 

                    &:focus+.search__icon {
                        z-index: 2;
                    }
                }
        }
    }
    
    .arows {
        width: 100%;
        display: none;

        @media screen and (max-width: 480px) {
            @include flexAlign(space-between);
        }
    }
}


.site-content {
    width: 100%;
    @include flexAlign($hor: flex-start);
    flex-direction: column;
    flex: 1 0 auto;
    


    .register {
        width: 100%;
        height: 112px;
        @include flexAlign();
        padding: 0 21% 5px 24%;
        box-sizing: border-box;
        border: 1px solid #e3e3e3;
        font-size: 34px;

        @media screen and (max-width: 1279px) {
            padding: 0 0 5px;
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
            height: 100%;
            padding: 15px;
            font-size: 30px;
        }

		&__text {
            color: #8b8b8b;
            margin-right: 35px;

            @media screen and (max-width: 767px) {
                margin: 0 0 15px;
                text-align: center;
            }
		}

		&__link {
            width: 255px;
            height: 60px;
            @include flexAlign()
            color: white;
            background: $other-color;
            text-decoration: none;
		}
    }

    .list {
        width: 100%;
        padding: 35px 0 70px;
        box-sizing: border-box;
        @include flexAlign();
        flex-direction: column;

        &__title{
            font-size: 23px;
            color: #636363;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        &__row {
            width: 100%;
            @include flexAlign(space-between);
            padding: 0 calc(50% - 940px / 2);
            box-sizing: border-box;

            @media screen and (max-width: 1279px) {
                justify-content: space-around;
                padding: 0 15px;
            }

            @media screen and (max-width: 992px) {
                flex-wrap: wrap;
            }
        }

            .column {
                @include flexAlign($ver: flex-start);
                flex-direction: column;
                box-sizing: border-box;

                @media screen and (max-width: 992px) {
                    padding-left: 15px;
                }

                @media screen and (max-width: 992px) {
                    margin-bottom: 15px;

                    &:last-child {
                        margin: 0;
                    }
                }
            
                &__link {
                    font-size: 15px;
                    color: $main-color;
                    text-decoration: none;
                    text-transform: capitalize;
                    margin-bottom: 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        
    }
}

.footer {
    width: 100%;
    height: 45px;
    @include flexAlign();
    background-color: $primary-color;
    font-size: 17px;
    color: #b3b1b1;
    flex-shrink: 0;
}




